.layout {
    width: 1300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:link {
    text-decoration: none;
}

a {
    margin: 0 15px;
    color: #93a1b6
}

p {
    color: #2a3342;
}

.navegacion {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#topLogo {
    margin-top: 40px;
    height: 30px;
    width: 45px;
}

.titulo {
    margin-top: -35px;
    margin-left: 50px;
    font-weight: 800px;
}

.navLeft {
    display: flex;
    flex-direction: row;
}

.navCenter {
    justify-content: space-around;
    text-decoration: none;
    margin-top: 35px;
    font-weight: bold;
}

.navRight {
    margin-top: 35px;
    font-weight: bold;
}

#btn-registrarse {
    text-decoration: none;
    background-color: #2ad167;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 5px;
    width: 100px;
}


.header {
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: left;
    justify-content: space-between;
    padding: 50px;
}

.mainTitle {
    font-size: 40px;
}

.leftHeader {
    flex-direction: column;
    align-items: center;
}

#new {
    color: white;
    background-color: #2ad167;
    height: 2rem;
    padding-inline: 10px;
    border-radius: 10px;
    font-size: 15px;
}

#demo {
    color: white;
    background-color: #2ad167;
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 8px;
}

#register {
    background-color: white;
    height: 40px;
    width: 140px;
    border-radius: 8px;
}

#workingPeople {
    margin-right: 10px;
}

#blueDots {
    position: absolute;
    top: 600px;
    left: 1130px;
}

#yellowCircle {
    position: absolute;
    top: 130px;
    left: 630px;
}

.caracteristicas {
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

#squareGreen {
    background-color: #2ad167;
    height: 42px;
    width: 42px;
    border-radius: 12%;
}

.charIcon {
    padding: 8px;
    filter: invert(1000%);
}

.training {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.analitics {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.solutions {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.precios {
    height: 150px;
    text-align: center;
}

#secondTitle {
    font-size: 30px;
}

.options {
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.confirmation {
    color: white;
    background-color: #2ad167;
    border-radius: 100%;
    margin-right: 15px;
    height: 20px;
    width: 20px;
}

.dolar {
    font-size: 1.15rem;
    margin-bottom: 5px;
}

.priceOptions {
    display: flex;
    flex-direction: column;
    background-color: #f7f8f9;
}

.priceHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headerColor {
    color: #2ad167;
    font-size: 15px;
}

.precio{
    font-size: 10px;
}

.grisClaro {
    color: #93a1b6;
}

.precioFuente {
    font-size: 30px;
    font: bold;
}

.priceDetails {
    display: flex;
    flex-direction: column;
}

.priceRows {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    text-align: center;
    padding-left: 20px;
}

.demoRequest {
    color: white;
    background-color: #2ad167;
    height: 50px;
    width: 300px;
    border-radius: 8px;
}


.footer {
    background-color: #2a3342;
    margin-top: 50px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.footLogo {

}

#bottomLogo {
    margin-top: 40px;
    height: 30px;
    width: 45px;
}

#footFlex {
    color: white;
    font-size: 26px;
}

.footOptions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#bottom {
    color: #93a1b6;
}

#modalogo {
    height: 70px;
    width: 80px;
    background-color: #2ad167;
    border-radius: 20px;
}


/*Mobile Version*/
@media only screen and (max-width:390px) and (max-height:844px) {


    .layout {
        width: 390px;
        display: flex;
        flex-direction: column;
        justify-items: flex-start;
        gap: 10px;
    }

    .navegacion {
        height: 240px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header {
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    #demo {
        margin-top: 20px;
        color: white;
        background-color: #2ad167;
        height: 40px;
        width: 200px;
        border: none;
        border-radius: 8px;
    }

    #register {
        margin-top: 20px;
        background-color: white;
        height: 40px;
        width: 200px;
        border-radius: 8px;
    }

    #workingPeople {
        transform: scale(60%);
    }

    .leftHeader {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .caracteristicas {
        margin-top: 440px;
        padding-top: 50px;
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    .precios {
        height: 200px;
        padding: 30px;
    }

    .options {
        
        height: 1400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: baseline;
        padding: 15px;
        padding-top: 30px;
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 250px;

    }

    .footOptions {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-inline: 10px;
    }
}