.layout {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.navegacion {
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: cadetblue;
    border: 1px solid black;
}

.logo {
    margin-top: 20px;
    height: 40px;
    width: 60px;
}

.Titulo {
    margin-top: -30px;
    margin-left: 65px;
}

.navLeft {
    display: flex;
    flex-direction: row;
}

.navCenter {
    justify-content: space-around;
    text-decoration: none;
    margin-top: 35px;
    color: gray;
}

.navRight {
    margin-top: 35px;
    color: black;
    text-decoration: none;
}

.btn-registrarse {
    text-decoration: none;
    background-color: green;
    color: white;
    border-radius: 5px;
    padding: 10px;

}

.header {
    border: 1px solid black;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.leftHeader {
    flex-direction: column;
    align-items: center;
}
#new{
    color: white;
    background-color: green;
    height: 2rem;
    padding-inline: 10px;
    border-radius: 40%;
   font-size: 15px;

}

.demo{
    color: white;
    background-color: green;
}

#workingPeople {
    height: 350px;
    width: 450px;
}

#blueDots {
    position: absolute;
    top: 470px;
    left: 950px;
}

#yellowCircle {
    position: absolute;
    top: 120px;
    left: 530px;
}

.caracteristicas {
    border: 1px solid black;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

#squareGreen {
    background-color: green;
    height: 42px;
    width: 42px;
    border-radius: 12%;
}

.charIcon {
    padding: 8px;
    filter: invert(1000%);

}

.training {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.analitics {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}


.solutions {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.precios {
    background-color: bisque;
    border: 1px solid black;
    height: 150px;
    text-align: center;
}

#confirmation {
    color: white;
    background-color: green;
    border-radius: 100%;
}

.options {
    height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.priceOptions {
    display: flex;
    flex-direction: column;
}

.priceHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.priceDetails {
    display: flex;
    flex-direction: column;

}

.priceRows {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: baseline;
}


.footer {
    height: 150px;
    border: 1px solid black;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;

    }

.footOptions{
        display: flex;
        flex-direction: row;
        justify-items: center;
            }

#footLogo {
    height: 20px;
    width: 30px;
}





/*Mobile Version*/
@media only screen and (max-width:390px) and (max-height:844px) {

    .layout {
        display: flex;
        flex-direction: column;
    }

    .navegacion {
        height: 244px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }

    .header {
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    #workingPeople {
        transform: scale(50%);
    }

    #blueDots {
        position: absolute;
        top: 550px;
        left: 1100px;
    }

    #yellowCircle {
        position: absolute;
        top: 100px;
        left: 600px;
    }

    .leftHeader {
        flex-direction: column;
        align-items: center;
    }

    .caracteristicas {
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    .precios {
       
        height: 150px;
    }

    .options{
        height: 1400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: baseline;

    }

    .footer {
        display: flex;
        flex-direction: column;
        height: 250px;      

   }
   .footOptions{
    display: flex;
    flex-direction: column;
   }